@{
    ViewBag.Title = "Mascaras";
}

<section class="content" id="maskText">
    <div class="content--title">
        <h2>máscaras</h2>
    </div>

    <div class="content--text">
        <p>As <strong>máscaras são essenciais</strong> para conter a transmissão do vírus.</p>

        <p>É preciso conhecer os diferentes modelos de máscaras:</p>

        <ul>
            <li>
                Máscaras de alta qualidade (PFF2) são as que fornecem maior nível de proteção individual quando utilizadas de forma correta.
            </li>
            <li>
                A escolha da máscara deve ser feita a partir da avaliação dos riscos do ambiente. Deve-se levar em conta a ventilação, o número de pessoas, o tempo de exposição e os comportamentos associados ao local (por exemplo, o risco aumenta quando pessoas estão falando alto ou gritando).
            </li>
            <li>
                Também é importante observar o risco de desenvolvimento de um quadro grave da doença para a escolha da máscara mais adequada.
            </li>
            <li>
                Máscaras de pano e cirúrgicas não são EPIs (Equipamentos de Proteção Individual). Funcionam como controle da fonte, ou seja, reduzem a emissão de partículas potencialmente contaminadas por parte de quem está usando, mas oferecem proteção limitada ao usuário.
            </li>
        </ul>

        <p>É preciso usar corretamente a máscara:</p>

        <ul>
            <li>
                A máscara deve cobrir completamente o nariz e a boca: máscaras no queixo ou deixando o nariz de fora são inúteis.
            </li>
            <li>
                A máscara precisa se ajustar bem ao rosto, sem deixar folgas ou aberturas por onde entre ou saia o ar.
            </li>
            <li>
                Reduza o contato com quem não reside com você.
            </li>
            <li>
                A boa vedação é o ponto mais importante
            </li>
            <li>
                Para melhor ajuste e segurança, recomenda-se usar máscaras que possam ser presas na nuca, ao invés da orelha.
            </li>
            <li>
                Uma peça de metal perto do nariz também melhora o ajuste da máscara.
            </li>
        </ul>

        <p>
            Para saber mais, recomendamos acessar
            <a href="https://www.qualmascara.com/faq" target="_blank">
                Qual máscara?
            </a>.
        </p>

        <p class="footer">
            Fontes:
            <a href="https://g1.globo.com/bemestar/coronavirus/noticia/2021/01/07/brasil-ultrapassa-200-mil-mortes-por-covid-19-especialistas-alertam-para-transmissao-pelo-ar.ghtml" target="_blank">
                Portal G1
            </a> e
            <a href=https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/" target="_blank">
                CDC
            </a>
        </p>

        <div class="informations">
            <a href="https://especiais.g1.globo.com/bemestar/vacina/2021/mapa-brasil-vacina-covid/" target="_blank" class="info-container">
                <i class="fas fa-syringe"></i>
            </a>
            <a href="https://covid.saude.gov.br/" target="_blank" class="info-container">
                <i class="fas fa-virus"></i>
            </a>
            <a href="https://qsprod.saude.gov.br/extensions/covid-19_html/covid-19_html.html" target="_blank" class="info-container">
                <i class="fas fa-notes-medical"></i>
            </a>
        </div>
    </div>
</section>